
.action{
  width: 1140px;
  height: 328px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 116px;
}
.text-only{
  width: 517px;
  
}
.text-title{
  font-size: 42px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin-bottom: 23px;
}
.text-details{
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #8d8d8d;
  margin-bottom: 23px;
  line-height: 30px;
}
.launch-btn{
  background-color: #4E47FF;
  color: white;
  padding: 12px 36px;
  border: none;
  font-size: 16px;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal; 
}
.image{
  border-radius: 48px;
  width: 403px;
  object-fit: cover;
}

.productive-user{
  background-color: #E4E6FF;
  margin: 0 auto;
  width: 1140px;
  height: 306px;
  border-radius: 24px;
 
 
}
.detail{
  padding: 50px 80px;
}
.info{
  display: flex;
  justify-content: space-between;
  
}
.detail-text{
  margin-bottom: 40px;
  font-size: 38px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color:#252432;
  font-weight: bold;
  text-align: center;

}
.box-info{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #4E47FF;
  font-size: 80px;
  font-weight: bold;
}
.cmt{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #8d8d8d;
  font-size: 20px;
  text-align: center;
}


.boxs, .star, .reviewer{
  display: flex;
}
.review{
  width: 1140px;
  height: 342px;
  margin: 0 auto;
  margin-top: 137px;
}
.review-title{
  margin-bottom: 50px;
  font-size: 42px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color:#252432;
  font-weight: bold;
  text-align: center;
  

}
.review-box{
  width: 366.67px;
  background-color: #ffffff;
  padding: 24px;
  justify-content: center;
  border-radius: 14px;
  border: 1px solid #F2EDED;

}
.star{
  margin-bottom: 24px;
  gap:4px;

}
.star-img{
  height: 20px;
  width: 20px;
  object-fit: cover;
}
.boxs{
  gap: 20px;
}
.review-txt, .rev-detail, .reviewer{
  width: 318.67px;
}
.review-txt{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 8px;

}
.rev-detail{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 15px;
  margin-bottom: 24px;
  font-weight: 500;
}
.prof-pic{
  width: 40px;
  height: 40px;
  border-radius:50%;

}
.name{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
  color:#757575;
  font-weight: bold;
  margin-bottom: 2px;
}
.date{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
  color:#B3B3B3;
  
}
.reviewer-details{
  margin-left: 10px;
}


.free-trial{
  width: 1140px;
  border-radius: 14px;
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: 137px;
  
}
.ft-txt{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 20px;
  text-align: center;
}
.ft-detail{
  margin-bottom: 20px;
  color: #afafaf;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 17px;
  text-align: center;

}
.ft-img{
  width: 840px;
  height: 364.77px;
  object-fit: cover;
  border-radius: 48px;
  margin-top: 20px;
  object-position: center;

}
.gsf-btn{
  background-color: #4E47FF;
  color: white;
  padding: 12px 36px;
  border: none;
  font-size: 16px;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin-bottom: 20px;
  display: block;
  margin: 0 auto;

}
.gsf{
  text-decoration: none;
  color:#ffffff;
}
.grid-items{
  padding: 71px 150px;
}